<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Détail du Catway</title>
</head>
<body>
  <h1>Détail du Catway n°<%= catway.catwayNumber %></h1>
  <p>Type: <%= catway.catwayType %></p>
  <p>État: <%= catway.catwayState %></p>
  <a href="/catways">Retour à la liste</a>
</body>
</html>
