<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <header>
    <a href="/">Accueil</a>
    <a href="/dashboard">Tableau de Bord</a>
    <a href="/docs">Documentation</a>
    <button id="logoutBtn">Se déconnecter</button>
  </header>
    <main>
          <h1>Mes informations</h1>
          <div id="user"></div>
          <div id="date"></div>
          <div id="table"></div>
    </main>
    <script src="/javascripts/dashboard.js"></script>
</body>
</html>