<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <header>
    <a href="/">Accueil</a>
    <a href="">Catways</a>
    <a href="">Réservation</a>
    <a href="/dashboard">Tableau de Bord</a>
    <a href="/docs">Documentation</a>
  </header>
    <main>
          <h1>Tableau de bord</h1>
          <div class="user"></div>
          <div class="date"></div>
          <div class=""></div>
    </main>
    <script src="/javascripts/app.js"></script>
</body>
</html>