<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <header>
    <a href="./index.ejs">Accueil</a>
    <a href="">Catways</a>
    <a href="">Réservation</a>
    <a href="./dashbord.ejs">Tableau de Bord</a>
  </header>
    <h1>Tableau de bord</h1>
</body>
</html>