<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <header>
    <a href="/">Accueil</a>
    <a href="/dashboard">Tableau de Bord</a>
    <a href="/docs">Documentation</a>
    <button id="logoutBtn">Se déconnecter</button>
  </header>
    <main>
        <h2>Réservations du catway <span id="catwayId"></span></h2>
        <button id="loadReservationsBtn">Charger Réservations</button>
        <ul id="reservationsList"></ul>

        <h3>Créer / Modifier une réservation</h3>
        <form  id="reservationForm">
        <input type="hidden" id="reservationId" />
        <input type="text" id="clientName" placeholder="Nom Client" required />
        <input type="text" id="boatName" placeholder="Nom Bateau" required />
        <input type="date" id="startDate" required />
        <input type="date" id="endDate" required />
        <button type="submit">Enregistrer</button>
        </form>


    </main>
    <script src="/javascripts/app.js"></script>
</body>
</html>