<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>API - Utilisateurs</title>
</head>
<body>
      <header>
    <a href="/">Accueil</a>
    <a href="/dashboard">Tableau de Bord</a>
    <a href="/docs">Documentation</a>
    <button id="logoutBtn">Se déconnecter</button>
  </header>
    <main>
      <h1>Utilisateurs Page</h1>
        <h2> Catway n° <span id="catwayIdInput"></span></h2>
        <button id="loadCatwayBtn">Charger les Catways</button>
        <ul id="catwaysList"></ul>

        <h3>Créer / Modifier un catways</h3>
        <form id="catwayForm">
          <input type="hidden" id="catwayIdInput" />

          <label for="catwayNumber">Numéro catway</label>
          <input type="number" id="catwayNumber" required />

          <label for="catwayType">Type catway</label>
          <input type="text" id="catwayType" placeholder="Type catway" required />

          <label for="catwayState">État catway</label>
          <input type="text" id="catwayState" placeholder="État (…)" required />

          <button type="submit">Enregistrer</button>
        </form>

    </main>
    <script src="/javascripts/users.js"></script>
</body>
</html>
