body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(71, 102, 131);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 20rem;
  padding: 1rem;
}

a {
  color: #00B7FF;
}

button {
  border-radius: 10px;
  border: 1 black;
  color: white;
  background-color: grey;
  padding: 2px;
}

